<div class="mt-4">
    <h3>Danh sách khoá học của tôi</h3>
    <table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khoá học</th>
            <th scope="col">Trình Độ</th>
            <th scope="col" col-span="2">Thời gian khoá học</th
        </tr>
    </thead>
    <tbody>
        {{#each courses}}
        <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <a href="/courses/{{this._id}}/edit" class="btn btn-link">sửa</a>
                <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#deleteCourse">Xoá</a>
            </td>
        </tr>
         {{/each}}
    </tbody>
    </table>
</div>
{{!-- Confirm --}}
<div id="deleteCourse" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Xoá bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>
{{!-- Delete Hidden Form --}}
<form name="deleteForm" method="POST" ></form>
<script> 
    var exampleModal = document.getElementById('deleteCourse')
    var courseId;
    var deleteForm = document.forms['deleteForm'];
    exampleModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget;
        courseId = button.getAttribute('data-id');

        
    })
    var btnDelete = document.getElementById('deleteCourse')
    btnDelete.onclick = function (){
        
        deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
        deleteForm.submit();
    }

</script>

